<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Advance User Managment</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span style="color: #fff;" class="glyphicon glyphicon-align-justify"></span>
                </button>
                @Html.ActionLink("USerApplication", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("TintForm", "Home", "Tint")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<style>

    .navbar {
        background:rgba(0, 0, 0, 0.8);
    }
    .navbar-header {
    color:#fff;
    }
    .navbar ul.nav li a{
        color:#fff;
        transition:all .5s;
    }
        .navbar ul.nav li a:hover {
            background:rgb(242, 120, 75);
        color:#fff;
        transition:all .5s;
        }
    .navbar-brand {
    text-transform: capitalize;
    color:#fff;
position: relative;
padding-left: 16px;
    }
        .navbar-brand:hover {
            color: #fff;
        }
    .navbar-brand::before {
    position: absolute;
left: 2px;
top: 19px;
width: 10px;
height: 10px;
content: "";
border-radius: 100%;
background: #F2784B;
    }
</style>
</html>
